{
    "openapi": "3.0.0",
    "info": {
      "title": "Other assistant API",
      "version": "1.0.0",
      "description": "An API for ingesting and generating chat responses"
    },
    "servers": [
      {
        "url": "https://api.us-east-1.aws.watsonassistant.ibm.com/instances/20240412-1232-5210-7068-d42e47e8b280"
      }
    ],
    "components" : {
        "securitySchemes" : {
            "basicAuth" : {
                "type": "http",
                "scheme": "basic"
            }
        }
    },
    "security" : [{
        "basicAuth" : []
    }],
    "paths": {
      "/v2/assistants/{environment_id}/sessions?version=2023-06-15": {
        "post": {
            "parameters": [
                {
                  "name": "environment_id",
                  "in": "path",
                  "required": true,
                  "schema": {
                    "type": "string"
                  }
                }
            ],
          "summary": "Create Session",
          "description": "Creates assistant session",
          "operationId": "makeAssistantSession",
          "responses": {
            "201": {
              "description": "Successful response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "session_id": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "400": {
                "description": "Failure"
            }
          }
        }
      },
      "/v2/assistants/{environment_id}/sessions/{session_id}/message?version=2023-06-15" :{
        "post": {
            "parameters": [
                {
                  "name": "session_id",
                  "in": "path",
                  "required": true,
                  "schema": {
                    "type": "string"
                  }
                },
                {
                    "name": "environment_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                      "type": "string"
                    }
                  }
            ],
            "summary": "Make dialog request",
            "description": "Creates assistant message request",
            "operationId": "makeMessageRequest",
            "requestBody" :{
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                        "type": "object",
                        "properties": {
                            "input": {
                                "type": "object",
                                "properties" : {
                                    "message_type" : {
                                        "type": "string"
                                    },
                                    "text" : {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                        }
                    }
                }
            },
            "responses": {
                "200": {
                    "description": "Successful response",
                    "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "output": {
                                    "type": "object",
                                    "x-ibm-parameter-wrapper": true,
                                    "properties": {
                                    "generic": {
                                        "type": "array",
                                        "items": {
                                        "type": "object",
                                        "properties": {
                                            "response_type": {
                                            "type": "string"
                                            },
                                            "text": {
                                            "type": "string"
                                            }
                                        }
                                        }
                                    },
                                    "intents": {
                                        "type": "array",
                                        "items": {
                                        "type": "object",
                                        "properties": {
                                            "intent": {
                                            "type": "string"
                                            },
                                            "confidence": {
                                            "type": "number"
                                            }
                                        }
                                        }
                                    },
                                    "entities": {
                                        "type": "array",
                                        "items": {
                                        "type": "object"
                                        }
                                    }
                                    }
                                },
                                "user_id" : {
                                    "type": "string"
                                }
                            }
                        }
                        }
                    }
                },
                "400": {
                    "description": "Failure"
                } 
            }
        }

              
        }
    }
}